.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.custom-shadow-purple {
    box-shadow: 0 10px 10px rgba(128, 0, 128, 0.1), 0 1px 10px rgba(128, 0, 128, 0.08);
}

.table-border-line tbody tr td {
    border-bottom: 1px solid #dee2e6; /* Màu gạch chân */
}